@import "https://fonts.googleapis.com/css?family=Comfortaa:300,700|Bungee+Shade|Josefin+Sans:400";
@import "https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap";
html,
body,
.grid-container {
    display: grid;
    grid-template-columns: 400px 400px 24px 650px;
    grid-template-rows: 150px 400px 430px 630px 125px;
    gap: 40px 40px;
    grid-template-areas: "Titre Titre Titre Titre" "descriptif1 descriptif1 . graph1" "graph2 graph3 . carto1" "carto2 carto2 carto2 carto2" "footer footer footer footer";
}

body {
    color: rgba(98, 165, 173, 0.959);
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
    letter-spacing: 0.03rem;
    line-height: 1;
    margin: 0 auto;
    background-color: #25282c;
    /*background-color: rgba(0, 0, 0, 0.842);*/
}

/* PATH COLOR pour les graph d3 */
.axiscolor path{
    stroke: #cad4d6;
  }
  .axistick {
    fill: #cad4d6;
    font-size: smaller;

  }
  .axiscolor line{
    fill: #cad4d6;
    /*#dce0e1*/

  }
/* TEXT city statistics */

p {
    color:#acadae;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 48px 20px;
    margin-bottom: 1.75em;
    text-align: justify;
}

r {
    color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 48px 20px;
    margin-bottom: 0.5 em;
}

a {
    color: #990000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline
}

.Titre {
    grid-area: Titre;
    position: absolute;
    z-index: 2;
    text-align: center;
    background-color: #068f96ec;
}
#rectangle{
    grid-area: Titre;
    position: relative;
    margin:auto;    
    width:50%;
    height:170px;
    border-radius: 10px;
    background: rgba(154, 168, 182, 0.856);
    border-color: #ffffffa1;
    border-width: 0.15em;
    vertical-align: middle;
    z-index: 1;
}
.footer {
    grid-area: footer;
    position: absolute;
    z-index: 1;
}


/*----------H1----------------*/

h1 {
    color: #070709;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 45px;
    font-weight: bolder;
    line-height: 40px;
    margin: 0 0 0;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
}


/*---------H2-----------------*/

h2 {
    color: #070709;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 27px;
    font-weight: normal;
    line-height: 30px;
    margin: 5px 0 24px;
    padding: 0 15px;
    text-align: center;
    text-transform: uppercase;
}


/*----------H3----------------*/

h3 {
    color: #070709;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 15px;
    margin: -12px 0 24px;
    padding: 0 15px;
    text-align: center;
    z-index: 1;
    text-transform: uppercase;
}

h4 {
    color: #070709;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 15px;
    margin: 0px 0 24px;
    padding: 0 15px;
    text-align: center;
    z-index: 1;
    text-transform: uppercase;
}

line {
    border-top: 1px solid #111;
    display: block;
    margin-top: 60px;
    padding-top: 50px;
    position: relative;
}


/*-----------------------------*/

.graph2 {
    grid-area: graph2;
    position: absolute;
    z-index: 2;
}


/*-------------------------*/

.graph3 {
    grid-area: graph3;
    position: absolute;
    z-index: 3;
}

div.tooltip_force {
    position: absolute;
    z-index: 3;
    text-align: left;
    width: 300px;
    height: 40px;
    padding: 2px;
    font: 12px sans-serif;
    color: #7fa6b9;
    background: rgba(255, 255, 255, 0);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}


/*------------------------------*/

.descriptif1 {
    grid-area: descriptif1;
    position: absolute;
    z-index: 1;
}
div.tooltip_graph1 {
    position: absolute;
    z-index: 2;
    text-align: left;
    width: 300px;
    height: 40px;
    padding: 2px;
    font: 12px sans-serif;
    background: rgba(24, 145, 30, 0);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}



/*------------------------------*/

.carto1 {
    grid-area: carto1;
    position: absolute;
    z-index: 2;
}

.carto1bis {
    grid-area: carto1;
    position: relative;
    z-index: 2;
}

div.tooltip_clev {
    position: absolute;
    z-index: 2;
    text-align: left;
    width: 300px;
    height: 40px;
    padding: 2px;
    font: 12px sans-serif;
    background: rgba(255, 255, 255, 0);
    border: 0px;
    color: #d1d9dd;
    border-radius: 8px;
    pointer-events: none;
}


/*.select {
    position: relative;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}
*/

.select {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    left: 550px;
    top: -450px;
    background-color: #97d9ffb9;
    border-radius: 7px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Comfortaa;
    font-size: 26px;
    font-weight: bold;
    padding: 7px 10px;
    text-decoration: none;
}

.select:hover {
    background-color: #7bb1f7;
}

.select:active {
    position: relative;
    top: 1px;
}


/*---------------------*/

.graph1 {
    grid-area: graph1;
    position: absolute;
    z-index: 1;
}


/* */

.carto2 {
    grid-area: carto2;
    position: absolute;
    z-index: 1;
}

#mapdiv {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 5px;
    width: 750px;
    height: 600px;
    background-color: #696969;
    border: 3px solid #FFFFFF;
}

div.tooltip_map {
    position: absolute;
    z-index: 2;
    text-align: left;
    top: 40px;
    left: 5px;
    width: 400px;
    height: 90px;
    padding: 2px;
    font: 12px sans-serif;
    background: rgba(5, 255, 5, 0);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    visibility: "hidden";
}

div.sidebar {
    position: absolute;
    top: 15px;
    left: calc(760px);
    width: 370px;
    height: calc(650px);
    /*min-height: 90%;
    bottom: 10%;*/
    background-color: #ca101000;
    border: 1px solid rgba(160, 160, 160, 0);
    padding: 15px;
}

td,
th {
    border: 1px solid rgba(190, 190, 190, 0.712);
    padding: 9px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgba(218, 214, 214, 0.815);
}

th[scope="col"] {
    background-color: #7fa6b9;
    /*#7fa6b9*/
    color: #fff;
}

th[scope="row"] {
    background-color: #cfcfd3;
    text-align: right;
}

caption {
    padding: 5 px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgba(200, 200, 200, 0);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    color: #6b6b6b;
}

div.infobox {
    font: "Comfortaa";
    font-size: small;
    color: #585858;
}


/* hover des bubbles pour tous les graphs*/

.bubbles {
    stroke-width: 1px;
    stroke: grey;
    opacity: .8
}

.bubbles:hover {
    stroke: rgb(133, 133, 133);
}

.bubbles2 {
    stroke-width: 1px;
    stroke: grey;
    opacity: .8
}

.bubbles2:hover {
    stroke: rgb(133, 133, 133);
}

.bubbles1 {
    stroke-width: 1px;
    stroke: grey;
    opacity: .8
}

.bubbles1:hover {
    stroke: rgb(133, 133, 133);
}


/*---------------------------------------------------------*/


/* For presentation only, no need to copy the code below */


/*---------------------------------------------------------*/

.grid-container * {
    border: 0.25rem solid #bea41404;
    background: #1f1fe200;
    position: relative;
}


/*CE QUI NOMME LES CASES

.grid-container *:after {
    content: attr(class);
    position: absolute;
    top: 0;
    left: 0;
}
*/


/*
div:nth-of-type(1) {
    background: #72b0c08c;
    border: 2px solid rgba(200, 200, 200, 0.644);
    color: #6b6b6b;
}



div:nth-of-type(2) {
    background: #0094a788;
}

div:nth-of-type(3) {
    background: #00f5dd8c;
}

div:nth-of-type(4) {
    background: #31856367;
}

div:nth-of-type(5) {
    background: #18123000;
}



div:nth-of-type(6) {
    background: #8e3f7d60;
}


div:nth-of-type(7) {
    background: #5a932c00;
    border: 2px solid rgba(200, 200, 200, 0.644);
    color: #6b6b6b;
}

div:nth-of-type(8) {
    background: #5c8b0fb9;
}

div:nth-of-type(9) {
    background: #32c44aa8;
}

*/