@import "https://fonts.googleapis.com/css?family=Comfortaa:300,700|Bungee+Shade|Josefin+Sans:400";
html,
body,
.grid-container {
    display: grid;
    grid-template-columns: 400px 400px 24px 650px;
    grid-template-rows: 75px 400px 400px 600px 25px;
    gap: 0.5% 0.5%;
    grid-template-areas: "Titre Titre Titre Titre" "descriptif1 descriptif1 . graph1" "graph2 graph3 . carto1" "carto2 carto2 carto2 carto2" "footer footer footer footer";
}


/* hover des bubbles pour tous les graphs*/

.bubbles {
    stroke-width: 1px;
    stroke: grey;
    opacity: .8
}

.bubbles:hover {
    stroke: rgb(133, 133, 133);
}

.bubbles2 {
    stroke-width: 1px;
    stroke: grey;
    opacity: .8
}

.bubbles2:hover {
    stroke: rgb(133, 133, 133);
}

.bubbles1 {
    stroke-width: 1px;
    stroke: grey;
    opacity: .8
}

.bubbles1:hover {
    stroke: rgb(133, 133, 133);
}


/*-----------------------------*/

.graph2 {
    grid-area: graph2;
}

div.tooltip_clev {
    position: absolute;
    z-index: 2;
    text-align: left;
    width: 300px;
    height: 40px;
    padding: 2px;
    font: 12px sans-serif;
    background: rgba(255, 255, 255, 0);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.graph3 {
    grid-area: graph3;
}

.descriptif1 {
    grid-area: descriptif1;
    position: absolute;
    z-index: 1;
}

.carto1 {
    grid-area: carto1;
}

.graph1 {
    grid-area: graph1;
}

div.tooltip_graph1 {
    position: absolute;
    z-index: 2;
    text-align: left;
    width: 300px;
    height: 40px;
    padding: 2px;
    font: 12px sans-serif;
    background: rgba(24, 145, 30, 0.767);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.Titre {
    grid-area: Titre;
}

.footer {
    grid-area: footer;
}


/* */

.carto2 {
    grid-area: carto2;
}

#mapdiv {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 5px;
    width: 750px;
    height: 600px;
    background-color: #696969;
    border: 3px solid #FFFFFF;
}

div.tooltip_map {
    position: absolute;
    z-index: 2;
    text-align: left;
    top: 40px;
    left: 5px;
    width: 400px;
    height: 90px;
    padding: 2px;
    font: 12px sans-serif;
    background: rgba(5, 255, 5, 0.24);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    visibility: "hidden";
}

.sidebar {
    position: absolute;
    top: 15px;
    left: calc(760px);
    width: 370px;
    height: calc(650px);
    /*min-height: 90%;
    bottom: 10%;*/
    background-color: #ca1010;
    border: 1px solid rgba(160, 160, 160, 0);
    padding: 15px;
}

td,
th {
    border: 1px solid rgba(190, 190, 190, 0.712);
    padding: 9px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgba(218, 214, 214, 0.815);
}

th[scope="col"] {
    background-color: #7fa6b9;
    /*#7fa6b9*/
    color: #fff;
}

th[scope="row"] {
    background-color: #cfcfd3;
    text-align: right;
}

caption {
    padding: 5 px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgba(200, 200, 200, 0);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

div.infobox {
    font: "Comfortaa";
    font-size: small;
}


/*---------------------------------------------------------*/


/* For presentation only, no need to copy the code below */


/*---------------------------------------------------------*/

.grid-container * {
    border: 0.25rem solid #bea41400;
    position: relative;
}


/*CE QUI NOMME LES CASES

.grid-container *:after {
    content: attr(class);
    position: absolute;
    top: 0;
    left: 0;
}
*/


/* derrière le tableau mapdiv*/

div:nth-of-type(1) {
    background: #ff0000a6;
}

div:nth-of-type(2) {
    background: #00e1ff7c;
}


/* derrière la légende sidebar*/

div:nth-of-type(3) {
    background: #00f5dd3f;
}

div:nth-of-type(4) {
    background: #31856360;
}

div:nth-of-type(5) {
    background: #18123000;
}

div:nth-of-type(6) {
    background: #8e3f7d96;
}

div:nth-of-type(7) {
    background: #5b932c;
}

div:nth-of-type(8) {
    background: #586346;
}

div:nth-of-type(9) {
    background: #32c44b;
}

body {
    background: #c9353549;
    color: rgba(122, 94, 94, 0);
    font-family: Comfortaa, sans-serif;
    font-weight: 1000;
    letter-spacing: 0.03rem;
    line-height: 1;
    margin: 0 auto;
}


/*.grid-container {
    display: grid;
    grid-template-columns: 1.1fr 1.1fr .1fr 2fr;
    grid-template-rows: 0.2fr 0.5fr 1.9fr 2.3fr 0.1fr;
    gap: 0.5% 0.5%;
    grid-template-areas: "Titre Titre Titre Titre" "descriptif1 descriptif1 . descriptif2" "graph1 graph2- . carto1" "tableau1 tableau1 . carto2" "footer footer footer footer";
}

.tableau1 {
    grid-area: tableau1;
}

.graph1 {
    grid-area: graph1;
}

.graph2- {
    grid-area: graph2-;
}

.descriptif1 {
    grid-area: descriptif1;
}

.carto2 {
    grid-area: carto2;
}

.carto1 {
    grid-area: carto1;
}

div.tooltip_clev {
    position: absolute;
    z-index: 2;
    text-align: left;
    width: 300px;
    height: 40px;
    padding: 2px;
    font: 12px sans-serif;
    background: rgba(255, 255, 255, 0);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.descriptif2 {
    grid-area: descriptif2;
}

.Titre {
    grid-area: Titre;
}

.footer {
    grid-area: footer;
}


*/